# NPM
node_modules
package-lock.json
.npm

# Yarn
yarn.lock
.yarn
.yarnrc.yml
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Hardhat files
artifacts
cache
coverage
coverage.json
typechain
typechain-types

# Other
.eslintignore
.gitignore
.prettierignore
slither.sh
.solhintignore
