{
  "overrides": [
    {
      "files": "**.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": ["**.ts", "**.js"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "useTabs": false,
        "endOfLine": "auto",
        "trailingComma": "all"
      }
    },
    {
      "files": "**.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 100
      }
    }
  ]
}
