module.exports = {
  hardhat: {},
  localhost: {
    url: 'http://127.0.0.1:8545',
    accounts: {
      mnemonic: '12 words',
    },
  },
  rinkeby: {
    url: 'https://rinkeby.infura.io/v3/<apikey>',
    accounts: {
      mnemonic: '12 words',
    },
  },
  kovan: {
    url: 'https://kovan.infura.io/v3/<apikey>',
    accounts: {
      mnemonic: '12 words',
    },
  },
  goerli: {
    url: 'https://rpc.slock.it/goerli',
    accounts: {
      mnemonic: '12 words',
    },
  },
};
